.Object-Board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #262626;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 40px;
    border-style: solid;
    border-color: #AAA;
    border-width: 1.5px;
}
