.ObjectCard-Container{
    background-color: #fff;
    margin-left: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 425px;
    width: 300px;
    border-radius: 5px;
}

.CardImage{
    margin-top: 10px;
    margin-left: 25px;
    width: 250px;
}

.CardContext{
    padding-left: 25px;
}

.CardTitle{
    font-size: 12px;
}

.CardAdress{
    color: #555;
    font-size: 11px;
}

.RentButton-Container{
    margin-right: 25px;
    display: flex;
    justify-content: end;
}

.RentButton{
    min-width: 90px;
    min-height: 30px;
    margin-right: 1rem;
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(131, 230, 129) 0%, rgb(79, 209, 107) 100%);
    border-radius: 1000px;
    border: none;
    box-shadow: 5px 5px 12px rgba(79, 209, 90, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}

.Datepicker-Container{
    margin-right: 20px;
}